---
import NumberLineGame from '../components/NumberLineGame.jsx';
---

<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>數線加法學習流程</title>
  </head>
  <body>
    <NumberLineGame client:only="react" />
  </body>
</html>
